body {
    background-color: #000000;
    margin:0;
}
/* landing page */
#wrapper{
    max-height:650px;
   display:flex;
   margin:0;
}
#leftcolumn, #rightcolumn{
    align-items: stretch;
    text-align: center;
    color:#ffffff;
}
#leftcolumn{
    width:50%;
    background-color: #000000;
}
#rightcolumn {
    width:50%;
}
#rightcolumn img{
    max-height:650px;
    width:100%;
}
#leftcolumn h3{
    margin-top:20%;
    font-size: 200%;
}
#leftcolumn p {
    font-size: 150%;

}
#leftcolumn button {
    background-color: rgb(255, 208, 0);
    height:5%;
    width:20%;
    color:#000000;
    border-radius:5px;
    border:none;
    font-size:120%;
    transition: all 0.5s;
    cursor:pointer
}
#leftcolumn button span {
    cursor:pointer;
    display:inline-block;
    position:relative;
    transition:0.5s;
}
#leftcolumn button span:after {
    content: "\00bb";
    position:absolute;
    opacity:0;
    top:0;
    right: -20px;
    transition:0.5s
}
#leftcolumn button:hover  span:after{
    opacity:1;
    right:0;
}
/* Navigation bar styling */
.navbar {
    display:flex;
    background:#000000;
    padding:16px;
    color:#ffffff;
    margin-bottom:0;
}
.navbar-brand a {
    padding:2px 8px;
    color:white;
    font-size: 150%;
}
.navbar-item{
    display:flex;
}
.navbar .navbar-link {
    padding: 2px 8px;
}
.navbar .navbar-link :hover {
    color:black;
    background-color: rgb(153, 151, 151);
}
.navbar .navbar-link a {
    text-decoration:none;
}
.navbar .navbar-link a {
    text-decoration: none;
           }
.navbar-right {
    margin-left:auto;
}
.navbar-right a {
    font-size: 100%;
    color:#ffffff;
    padding: 10% 40px;
}

/* styling for form section */
.section {
    max-height:100%;
    margin:0;
    background-color: #000000;
}
form {
    width:80%;
    margin:0 auto;
    display:block;
    
}
form .form-group {
    color:rgb(255, 166, 0);
    margin:0 auto;
    /* display:block; */
    /* border-radius: 5px; */
    padding:1% 1%;
    max-width:50%;
    text-align: left;
}
.section form .form-group h3 {

    margin:0;
}
form .form-control {
    margin:2% 4%;
    width:100%;
    padding:12px;
    border:none;
    border-radius:4px;
    resize:horizontal; /*allows user to resize input field*/
    box-sizing: border-box;
}
.form-header {
    color:#ccc;
    text-align: center;
    font-size: 190%;
}
form .form-group label {
    margin-bottom:10%;
    color: #ffffff;
    font-size: 200%;

}
form button {
    background-color: #ffa600;
    color:#ffffff;
    padding:2% 4%;
    margin-left:40%;
    border:none;
    border-radius:4px;
    cursor:pointer;
    font-size: 120%;
}
.section form button:hover {
    background-color:orangered;
}
.section p {
    text-align:center;
    color: white;
    font-size: 200%;
    margin:0;
    padding:4%;
}
/*  styling for footer */
.footer {
    display:flex;
    justify-content: space-between;
    /* flex-direction:column; */
    padding:0.5%;
    margin:0;
    max-height:10%;
    color:#ffffff;
    background-color: #000000;
    text-align:center;
}
.footer .social, .footer .physical, .footer .address {
    margin:0;
    display:flex;
    flex-direction: column;
}
/* styling for smaller screens */
@media only screen and (max-width:768px){
    .navbar {
        display: block;
        padding:10px;
    }
    .navbar-item{
        margin-top:2%;
        display:block;
        padding:2%;
    }
    .navbar-link{
        margin: 2% 5%;
        text-align: center;
    }
    .navbar .navbar-item .nav-link :hover{
        background-color: #ccc;
    }
    .navbar-right a {
        max-width:100;
        padding: 3% 30%;
    }


}
/*  Modal styling */
/* Modal */
.modal {
    display: none ;
    position : fixed;
    z-index: 1;
    padding-top: 100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto; /*enables scrolls*/
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}
/* modal content */
.modal-content{
    position:relative;
    background-color:#fefefe;
    margin:auto;
    padding:0;
    border: 1px solid #888;
    width:80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top: - 300px; opacity:0}
    to {top:0; opacity:1}
}
/* modal close button */
.close {
    color:white;
    float:right;
    font-size: 28px;
    font-weight:bold;
}
.close:hover, 
.close:focus {
    color: #000;
    text-decoration:none;
    cursor:pointer;
}

.modal-header {
    padding:2px 16px;
    background-color : rgb(97, 95, 95);
    color:#000;
}
.modal-body {
    padding:2px 16px;
}
.modal-footer{
    text-align:center;
    padding: 2px 16px;
    background-color: #000000;
    color:#ffffff;
}

/* styling for side navigation */

.sidenav {
  border:2px solid #333;
  margin:0;
  height:100%;
  width: 0;
  position:fixed;
  top:0;
  left:0;
  background-color:#be7e06;
  overflow-x: hidden;
  transition:0.5s;
  padding-top:5%;
  color:#fefefe;
}

.sidenav a {
    margin-top: 10%;
    margin-left:10%;
    padding: 8px 8px 8px 10px;
    text-decoration:none;
    font-size:100%;
    color:#fefefe;
    display:block;
    transition:0.3s;
}
.sidenav a:hover {
    background-color: #ccc;
    color:#000000;
}
.sidenav .closebtn {
    position:absolute;
    top:0;
    right:25px;
    font-size:26px;
    margin-left:50px;
}
.active{
    background-color: #888;
}
#avatar {
    max-height:80px;
    max-width:200px;
    width:100px;
    border-radius: 34px;
    margin-top: 0;
}
#profile {
    text-align:right;
}

/* sidenav on small screens */
@media screen and (max-height: 450px){
    .sidenav {padding-top:15px;}
    .sidenav a {font-size:18px;}
}

/* dashboard styling */
.container {
    align-content: space-around;
    justify-content: space-between;
    display: flex;
    flex-wrap:wrap;
}
.container button {
    flex-grow:1;
    padding:5% 2%;
    color:#ffffff;
    font-size: 220%;
}

.Crequests {
    background-color: rgb(92, 48, 48);
}
.Prequests{
    background-color:  rgb(150, 93, 72);
 } 
 .Prequests :hover{
    background-color:  rgb(138, 51, 19);
 } 
.Rrequests {
    background-color:rgb(35, 58, 35);
}
 /*requests table*/
 #myTable {
     max-height: 80%;
     overflow: hidden;
     margin: 2% 2% 1% 1%;
     border-collapse: collapse;
     width: auto;
     font-size: 110%;
     box-sizing:border-box;
     border-spacing:0;

 }
 #myTable th, #myTable td {
     resize:both;
     text-align:left;
     padding: 12px;
     border-right:2px solid #ff9100;
     margin:2%;
     color:#ffffff;
 }

 #myTable tr {
     border-bottom: 2px solid #ccc;
    }
#Tableheading{
    display:none;
    font-size: 180%;
    margin:0;
    padding:0;
    }
    /* messing around */
#myTable{
    display:none;
}
#uTable{
    overflow: hidden;
    height:auto;
    margin: 2% 2% 1% 1%;
    border-spacing: 0;
    font-size: 110%;
    border-collapse:collapse;
    width:auto;
        }
#uTable th, #uTable td{
    text-align: left;
    resize:both;
    color:#ffffff;
    text-align:center;
    padding:12px;
    border-bottom:2px solid #ff9100;
    border-right:2px solid #ff9100;
    margin:2%;
}
 #dashboard {
     padding:2%;
     display:flex;
 }
 #dashboard button {
     color:#ff9100;
 }
 #fInput{
     background-color: rgb(180, 180, 180);
     width:100%;
     font-size:120%;
     padding:1%;
     border:2px solid #888;
     border-radius:2%;
 }
 /* users table */
 /* #userTable{
     display:none;
 }
 #uTableHeading{
     display:none; */
    /* } */
 #LModal .modal {
    width:100%;
    margin:0;
    height:100%;
 }
 #LModal .modal-content{
     text-align: center;
     background-color: rgb(164, 164, 165);
     width:50%;
     font-size: 150%;
 }
 #LModal .modal-footer{
     height:3%;
     background-color: rgb(0, 0, 0);
 }
 #LModal button {
     float:right;
     background-color: #ffa600
 }
 #LModal button a {
     color:#ffffff;
     text-decoration: none;
     font-size: 110%;
 }
#completed{
    border-radius:10px;
    color:#ffffff;
    background-color: rgb(4, 110, 4);
} 
#pending{
    border-radius:10px;
    color:#ffffff;
    background-color: rgb(255, 141, 34);
}
#cancelled {
    color:#ffffff;
    background-color:rgb(170, 2, 2);
    border-radius:10px;
}
/* Make request form  */
#makeRequest {
    display:none;
}
#makeRequest form {
    width:100%;
    margin:auto;
}
#makeRequest form .form-header{
    font-size:180%;
    color:#000000;
}
#radio{
    border:0;
}
#makeRequest form button{
    margin-left:80%;
}
#makeRequest form .form-group{
    margin:auto;
}
#makeRequest form .form-control{
    width:100%;
    resize:vertical;
}