<! Doctype html>
<html>
    <head>
        <title> Maintainance Tracker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/CSS/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="navbar">
                <div class=" navbar-link navbar-brand">
                    <a href="#">MnRTracker</a>
                </div>
                <div class="navbar-link navbar-toggle">
                    <i class=" fa fa-bars"></i>
                </div>
            <nav class="navbar-item navbar-right">
                <div class="navbar-link">
                    <a href="#">About</a>
                </div>
                <div class="navbar-link">
                    <a href="#">Services</a>
                </div>
                <div class="navbar-link">
                    <a href="#">contact us</a>
                </div>
                <div class="navbar-link">
                    <a href="#">About</a>
                </div>
            </nav>
        </div>
    </body>
</html>
<nav>
    