
body {
    margin:2px;
}
/* Navigation bar styling */
.navbar {
    display:flex;
    background:#333;
    padding:16px;
    color:#ffffff;
    margin-bottom:0px;
}
.navbar-brand a {
    padding:2px 8px;
    color:white;
    font-size: 150%;
}
.navbar-item{
    display:flex;
}
.navbar .navbar-link {
    padding: 2px 8px;
}
.navbar .navbar-link :hover {
    color:black;
    background-color: rgb(153, 151, 151);
}
.navbar .navbar-link a {
    text-decoration:none;
}
.navbar .navbar-link a {
    text-decoration: none;
           }
.navbar-right {
    margin-left:auto;
}
.navbar-right a {
    font-size: 100%;
    color:#ffffff;
    padding: 10% 40px;
}

/* styling for form section */
.section {
    height:100%;
    margin:0;
    background-image: url(../images/tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 90%;
}
 form .form-control {
    width:80%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:4px;
    resize:horizontal;
    box-sizing: border-box;
}
.form-header {
    color:#ccc;
    text-align: center;
    font-size: 190%;
}
form {
    margin-left:30%;
}
form .form-group label {
    /* display:inline-block; */
    margin:5% auto;
    color: #cccccc;
    font-size: 250%;
    padding: 20px 20px 20px 0;

}
form .form-group {
    display:block;
    text-align: left;
    border-radius: 5px;
    padding:20px 20px;
    max-width:50%;
    /* margin-left:30%; */
}
form button {
    background-color: #000000;
    color:#ccc;
    padding:2% 4%;
    margin-left:30%;
    border:none;
    border-radius:4px;
    cursor:pointer;
    /* float:right; */
    font-size: 120%;
}
form button :hover {
    background-color: #000000;
}
.section p {
    text-align:center;
    color: white;
}
/*  styling for footer */
.footer {
    padding:0.5%;
    margin:0;
    max-height:20%;
    color:#ffffff;
    background-color: #000000;
    text-align:center;
}
/* styling for smaller screens */
@media only screen and (max-width:768px){
    .navbar {
        display: block;
        padding:10px;
        /* justify-content:center; */
    }
    .navbar-item{
        margin-top:2%;
        display:block;
        padding:2%;
    }
    .navbar-link{
        margin: 2% 5%;
        text-align: center;
    }
    .navbar .navbar-item .nav-link :hover{
        background-color: #ccc;
    }
    .navbar-right a {
        max-width:100;
        padding: 3% 30%;
    }


}
/*  Modal styling */
/* Modal */
.modal {
    display: none ;
    position : fixed;
    z-index: 1;
    padding-top: 100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto; /*enables scrolls*/
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
}
/* modal content */
.modal-content{
    position:relative;
    background-color:#fefefe;
    margin:auto;
    padding:0;
    border: 1px solid #888;
    width:80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top: - 300px; opacity:0}
    to {top:0; opacity:1}
}
/* modal close button */
.close {
    color:white;
    float:right;
    font-size: 28px;
    font-weight:bold;
}
.close:hover, 
.close:focus {
    color: #000;
    text-decoration:none;
    cursor:pointer;
}

.modal-header {
    padding:2px 16px;
    background-color : #888;
    color:#000;
}
.modal-body {
    padding:2px 16px;
}
.modal-footer{
    text-align:center;
    padding: 2px 16px;
    background-color: #888;
    color:#000;
}

/* styling for side navigation */

.sidenav {
  margin:0;
  height:100%;
  width: 0;
  position:fixed;
  top:0;
  left:0;
  background-color:#333;
  overflow-x: hidden;
  transition:0.5s;
  padding-top:5%;
  color:#fefefe;
}

.sidenav a {
    margin-top: 10%;
    margin-left:10%;
    padding: 8px 8px 8px 10px;
    text-decoration:none;
    font-size:100%;
    color:#fefefe;
    display:block;
    transition:0.3s;
}
.sidenav a:hover {
    background-color: #ccc;
    color:#000000;
}
.sidenav .closebtn {
    position:absolute;
    top:0;
    right:25px;
    font-size:26px;
    margin-left:50px;
}
.active{
    background-color: #888;
}
#avatar {
    /* margin-left:20%; */
    max-height:80px;
    max-width:200px;
    width:100px;
    border-radius: 34px;
}
#profile {
    text-align:right;
}

/* sidenav on small screens */
@media screen and (max-height: 450px){
    .sidenav {padding-top:15px;}
    .sidenav a {font-size:18px;}
}

/* dashboard styling */
.section .container {
    align-content: space-around;
    justify-content: space-between;
    display: flex;
    flex-wrap:wrap;
}
.section .container button {
    flex-grow:1;
    padding:5% 2%;
    margin:20px;
    color:#ffffff;
    font-size: 220%;
}

.Crequests {
    background-color: rgb(92, 2, 2);
}
.Prequests{
    background-color:  rgb(153, 45, 6);
 } 
.Rrequests {
    background-color:rgb(2, 56, 2);
} 