/* Navigation bar styling */
.navbar {
    display:flex;
    background:#333;
    padding:16px;
    color:white;
    margin-bottom:0px;
}
.navbar-brand a {
    color:white;
}
.navbar-item{
    display:flex;
}
.navbar-link {
    padding-right: 15px;
}
.navbar-right {
    margin-left:auto;
}
.navbar-toggle {
    display:none;
}

/* styling for smaller screens, adds vertical menu */
@media only screen and (max-width:768px){
    .navbar-item, .navbar {
        flex-direction: column;
        /* justify-content:center; */
    }
    .navbar-right{
        margin-left:0;
    }
    /* make the navbar items invisible on smaller screens */

    .navbar-item{
        display:none;
    }
    .navbar{
        justify-content: center;
    }
    .navbar-toggle{
        align-self:flex-end;
        display:initial;
        position:absolute;
        cursor:pointer;
    }

}
/* styling for form section */
.section {
    height:100%;
    margin-top:0px;
    background-image: url(../images/tools.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 90%;
}
.form-control{
    margin:auto;
    justify-content: center;
}
.form-header {
    color:#ccc;
    text-align: center;
    font-size: 190%;
}
input{
    width:50%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing: border-box;
}
label {
    color: #ccc;
    padding: 20px;

}